APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = composer_devUSERNAME = composer_devPASSWORD = composer_devHOSTPORT = 3306CHARSET = utf8mb4DEBUG = truePREFIX = qu_[REDIS]HOSTNAME = 127.0.0.1PASSWORD = 123456SELECT = 14PORT = 6379PREFIX = 'composer_dev:'TAGPREFIX = 'tag:composer_dev:'[LANG]default_lang = zh-cn